nav {
  border: 1px solid black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: lightgrey;
  position: sticky;
  top: 0;
}

nav h1{
  margin-left: 1em;
}

nav ul{

  display: flex;
  align-items: baseline;
}

ul li{

  padding:0  1.5em;
  list-style-type: none;
}

ul li:not(:first-child){
  border-left: 1px solid black;
}

.article1 {
  display: flex;
  flex-direction: column;
}
